.cyanBack{
    
    background-color: rgb(151, 202, 249);
}

.grayBack{
    background-color: rgb(229, 229, 229);
}

table td, table th{
    padding: 20px 80px 20px 30px;
}

.tableBorder{
    
    border-top: 13px solid #050539;
    
}

.upper__border{
    border-left: 25px solid;
}