.proDetail{
    border: 1px solid black;
}

.productTitle{
overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    border-left: 10px solid #050539;
}