input:focus{
    outline: none;
}

.search{
    width: 40%;  
    border: 2px solid grey;
}

.searchIcon{
    /* background-color: rgb(19, 46, 129); */
    cursor: pointer;
}

.searchMainContainer{
font-family: 'Montserrat',
sans-serif;

}

.welcome{
    padding: 50px;
}