.content{
    background: radial-gradient(closest-side, #edf1f2, #e1e2ea, #4879f6);
    width: 12.5em;
    height: 12.5em;
    border-radius: 50%;
    font-family: 'Montserrat',
    sans-serif;

    @media screen and (max-width: 800px) {
            height: 170px;
            width: 300px;
            border-radius: 50%;
        }
    
        
}

